##### INPUTS #####
HOME: ./ # FRANKEN-Z installation directory
FILTER_PATH: filters/ # location of filter files
FILTERS: filters/HSC.list # list of filter transmission curve files

##### CONFIG FILES #####
CONFIG_REDSHIFT: config/redshift.config # redshift dictionary config file
CONFIG_MAG: config/mag.config # magnitude dictionary config file
CONFIG_COLOR: config/color.config # color dictionary config file
